# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# hdf5 datafiles
*.h5
*.hdf5

# parquet datafiles
*.parquet

# LIC files
*.lic

# pkg-config files
*.pc

# IDE
.vscode/

# vim swap files
*.swp

# rk
vendor/rk/

# ipynb_checkpoint
*ipynb_checkpoint*

# build
/*build/

# images
*.png
*.pdf

# pycache
__pycache__/
*/*/*pycache*
*/*/*/*pycache*
*/*/*/*/*pycache*

# output dirs
*output*
